body
{
        background-color: aliceblue;
        height: 1000px;
}
*
{
        margin: 0;
        padding: 0;
}

.container
{
        width: 80%;
        margin: auto;
}





.head-title
{
        background-color: rgb(33, 47, 60);
        padding: 20px;
}

.head-title .container
{
        display: flex;
        
}

.head
{
        width: 25%;
        margin: auto;
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
}

.profile
{
        height: 800px;
        background-color: rgb(44, 48, 48);
        text-align: center;

}






